BorderPane{
    -fx-padding: 10 10 10 10;
}
HBox{
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 30;
}

VBox{
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 30;
}
TextField{
    -fx-max-width: 200;
}

PasswordField{
    -fx-max-width: 200;
}
ScrollPane{
    -fx-fit-to-width: true;
    -fx-pref-width:500;
}
ListView{
    -fx-fit-to-width: true;
}

/*Sets the size of all windows that call this class to predefined values*/
.Window{
    -fx-pref-width:800;
    -fx-pref-height:600;
}
.Heading{
    -fx-font-size:16;
    -fx-font-weight:bold;
    -fx-alignment:center;
}


